# 1. TEXT-TO-SQL

In [19]:
import langchain
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType
from langchain.chains.sql_database.query import create_sql_query_chain
from langchain.chat_models import ChatOpenAI
from langchain.llms.openai import OpenAI
from langchain.sql_database import SQLDatabase
from langchain.utilities import SQLDatabase

In [20]:
db = SQLDatabase.from_uri("postgresql://postgres:password@localhost:5432/chinook") 
chain = create_sql_query_chain(llm=ChatOpenAI(temperature=0,model="gpt-3.5-turbo-0613"), db=db)
sql_query = chain.invoke({"question": "What is my data about?"})
print(sql_query)

SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'public'
ORDER BY table_name, ordinal_position
LIMIT 5;

In [21]:
db.run(sql_query)

"[('album', 'albumid', 'integer'), ('album', 'title', 'character varying'), ('album', 'artistid', 'integer'), ('artist', 'artistid', 'integer'), ('artist', 'name', 'character varying')]"

In [22]:
sql_query = chain.invoke({"question": "What artists have the highest and the lowest numbers of purchases?"})
print(sql_query)

SELECT a.name AS artist, COUNT(*) AS purchases
FROM artist a
JOIN album al ON a.artistid = al.artistid
JOIN track t ON al.albumid = t.albumid
JOIN invoiceline il ON t.trackid = il.trackid
GROUP BY a.name
ORDER BY purchases DESC
LIMIT 1

SELECT a.name AS artist, COUNT(*) AS purchases
FROM artist a
JOIN album al ON a.artistid = al.artistid
JOIN track t ON al.albumid = t.albumid
JOIN invoiceline il ON t.trackid = il.trackid
GROUP BY a.name
ORDER BY purchases ASC
LIMIT 1

# 2. TEXT-TO-SQL + EXECUTION

In [23]:
agent_executor = create_sql_agent(
    llm=ChatOpenAI(temperature=0,model="gpt-3.5-turbo-0613"),
    toolkit=SQLDatabaseToolkit(db=SQLDatabase.from_uri("postgresql://postgres:password@localhost:5432/chinook"), 
                                llm=OpenAI(temperature=0)),
    verbose=False,
    agent_type=AgentType.OPENAI_FUNCTIONS
)

In [24]:
print(agent_executor.run("What is my data about?"))

Based on the tables in the database, the data seems to be about a music store. The tables include information about albums, artists, customers, employees, genres, invoices, media types, playlists, playlist tracks, and tracks.

In [25]:
print(agent_executor.run("What artists have the highest and the lowest numbers of purchases?"))

The artist with the highest number of purchases is Iron Maiden with 140 purchases. The artist with the lowest number of purchases is Adrian Leaper & Doreen de Feis with only 1 purchase.

In [26]:
print(agent_executor.run("What artists have the highest and the lowest numbers of purchases? Show me the query you used to generate the answer"))

The artist with the highest number of purchases is "Iron Maiden" with 140 purchases. The artist with the lowest number of purchases is "Adrian Leaper & Doreen de Feis" with 1 purchase.

Here is the query I used to generate the answer:

For the artist with the highest number of purchases:
```
SELECT artist.name, COUNT(invoice.invoiceid) AS num_purchases
FROM artist
JOIN album ON artist.artistid = album.artistid
JOIN track ON album.albumid = track.albumid
JOIN invoiceline ON track.trackid = invoiceline.trackid
JOIN invoice ON invoiceline.invoiceid = invoice.invoiceid
GROUP BY artist.name
ORDER BY num_purchases DESC
LIMIT 1
```

For the artist with the lowest number of purchases:
```
SELECT artist.name, COUNT(invoice.invoiceid) AS num_purchases
FROM artist
JOIN album ON artist.artistid = album.artistid
JOIN track ON album.albumid = track.albumid
JOIN invoiceline ON track.trackid = invoiceline.trackid
JOIN invoice ON invoiceline.invoiceid = invoice.invoiceid
GROUP BY artist.name
ORDER BY num_purchases ASC
LIMIT 1
```

In [27]:
print(agent_executor.run("How many customers are there and how many of them made multiple puchases?"))

There are 59 customers in total. All of them made multiple purchases.

In [30]:
print(agent_executor.run("Which employee sold the most and how much? Show me the query you used to generate the answer"))

Based on the schema of the `employee`, `invoice`, and `invoiceline` tables, I can construct a query to find the employee who sold the most and the total amount they sold. Here is the query:

```sql
SELECT e.firstname || ' ' || e.lastname AS employee_name, SUM(il.unitprice * il.quantity) AS total_sales
FROM employee e
JOIN invoice i ON e.employeeid = i.customerid
JOIN invoiceline il ON i.invoiceid = il.invoiceid
GROUP BY e.employeeid
ORDER BY total_sales DESC
LIMIT 1;
```

This query joins the `employee`, `invoice`, and `invoiceline` tables together. It calculates the total sales for each employee by multiplying the unit price of each invoiceline by the quantity and summing them up. The results are then grouped by employee and ordered by total sales in descending order. Finally, we limit the result to only the top 1 employee with the highest total sales.

Please note that the query assumes that the `employeeid` in the `employee` table corresponds to the `customerid` in the `invoice` table.

Let me know if you need any further assistance!

In [31]:
print(agent_executor.run("Which employee sold the least and how much? Show me the query you used to generate the answer"))

Based on the schema of the `invoice` and `invoiceline` tables, we can see that the `invoice` table contains information about each invoice, including the total amount, and the `invoiceline` table contains information about each line item in an invoice, including the unit price and quantity.

To find the employee who sold the least and the amount they sold, we need to join the `employee`, `invoice`, and `invoiceline` tables. We can group the data by employee and calculate the total sales for each employee. Then, we can sort the results in ascending order of total sales and limit the result to 1 to get the employee who sold the least.

Here is the query to generate the answer:

```sql
SELECT e.firstname || ' ' || e.lastname AS employee_name, SUM(il.unitprice * il.quantity) AS total_sales
FROM employee e
JOIN invoice i ON e.employeeid = i.customerid
JOIN invoiceline il ON i.invoiceid = il.invoiceid
GROUP BY e.employeeid, e.firstname, e.lastname
ORDER BY total_sales ASC
LIMIT 1;
```

This query joins the `employee`, `invoice`, and `invoiceline` tables using appropriate foreign key relationships. It calculates the total sales for each employee by multiplying the unit price and quantity for each line item in an invoice and then sums them up. The results are grouped by employee and sorted in ascending order of total sales. Finally, the query limits the result to 1 to get the employee who sold the least.

Please note that the query assumes that the `employeeid` column in the `employee` table corresponds to the `customerid` column in the `invoice` table. If this is not the case, the query may need to be modified accordingly.

In [32]:
print(agent_executor.run("What are the median sales for all employees? Show me the query you used to generate the answer"))

Based on the schema of the `employee` table, we can see that there is no column related to sales. Therefore, I don't have the necessary information to calculate the median sales for all employees.

In [33]:
print(agent_executor.run("What are the median sales for all employees? Use `percentile_cont(0.5) WITHIN GROUP (ORDER BY col)` for the calculation.Show me the query you used to generate the answer"))

Based on the schema of the `employee` table, we can see that the `employee` table has the following columns:
- employeeid
- lastname
- firstname
- title
- reportsto
- birthdate
- hiredate
- address
- city
- state
- country
- postalcode
- phone
- fax
- email

To calculate the median sales for all employees, we need to query the `invoice` table and join it with the `employee` table. However, since the `invoice` table does not have a direct relationship with the `employee` table, we need to join it indirectly through the `customer` table.

Here is the query to calculate the median sales for all employees:

```sql
SELECT
  e.employeeid,
  e.lastname,
  e.firstname,
  percentile_cont(0.5) WITHIN GROUP (ORDER BY i.total) AS median_sales
FROM
  employee e
JOIN
  customer c ON e.employeeid = c.supportrepid
JOIN
  invoice i ON c.customerid = i.customerid
GROUP BY
  e.employeeid,
  e.lastname,
  e.firstname
ORDER BY
  median_sales DESC
LIMIT 10;
```

Please note that the above query assumes that the `employeeid` column in the `employee` table corresponds to the `supportrepid` column in the `customer` table. If the column names or relationships are different in your database, please adjust the query accordingly.