# 1. TEXT-TO-SQL

In [ ]:
import langchain
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType
from langchain.chains.sql_database.query import create_sql_query_chain
from langchain.chat_models import ChatOpenAI
from langchain.llms.openai import OpenAI
from langchain.sql_database import SQLDatabase
from langchain.utilities import SQLDatabase

langchain.debug = False
db = SQLDatabase.from_uri("postgresql://postgres:password@localhost:5432/chinook") 
chain = create_sql_query_chain(llm=ChatOpenAI(temperature=0,model="gpt-3.5-turbo-0613"), db=db)
sql_query = chain.invoke({"question": "What is my data about?"})
print(sql_query)

In [ ]:
db.run(sql_query)

In [68]:
langchain.debug = False
sql_query = chain.invoke({"question": "What artists have the highest and the lowest numbers of purchases?"})
print(sql_query)

SELECT a.name AS artist, COUNT(*) AS purchases
FROM artist a
JOIN album al ON a.artistid = al.artistid
JOIN track t ON al.albumid = t.albumid
JOIN invoiceline il ON t.trackid = il.trackid
GROUP BY a.name
ORDER BY purchases DESC
LIMIT 1

SELECT a.name AS artist, COUNT(*) AS purchases
FROM artist a
JOIN album al ON a.artistid = al.artistid
JOIN track t ON al.albumid = t.albumid
JOIN invoiceline il ON t.trackid = il.trackid
GROUP BY a.name
ORDER BY purchases ASC
LIMIT 1

In [ ]:
langchain.debug = True
sql_query = chain.invoke({"question": "What is my data about?"})

## Langchain gathers data about available tables and then passed it on along as a part of a prompt to LLM model

### Input 
```
Human: You are a PostgreSQL expert. Given an input question, first create a syntactically correct PostgreSQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per PostgreSQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURRENT_DATE function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE album (
	albumid INTEGER NOT NULL, 
	title VARCHAR(160) NOT NULL, 
	artistid INTEGER NOT NULL, 
	CONSTRAINT pk_album PRIMARY KEY (albumid), 
	CONSTRAINT fk_albumartistid FOREIGN KEY(artistid) REFERENCES artist (artistid)
)

/*
3 rows from album table:
albumid	title	artistid
1	for those about to rock we salute you	1
2	balls to the wall	2
3	restless and wild	2
*/


CREATE TABLE artist (
	artistid INTEGER NOT NULL, 
	name VARCHAR(120), 
	CONSTRAINT pk_artist PRIMARY KEY (artistid)
)

/*
3 rows from artist table:
artistid	name
1	ac/dc
2	accept
3	aerosmith
*/
```

### Output
```
SELECT table_name, column_name, data_type 
FROM information_schema.columns 
WHERE table_schema = 'public'
ORDER BY table_name, ordinal_position
LIMIT
```

# 2. TEXT-TO-SQL + EXECUTION

In [ ]:
agent_executor = create_sql_agent(
    llm=ChatOpenAI(temperature=0,model="gpt-3.5-turbo-0613"),
    toolkit=SQLDatabaseToolkit(db=SQLDatabase.from_uri("postgresql://postgres:password@localhost:5432/chinook"), 
                                llm=OpenAI(temperature=0)),
    verbose=False,
    agent_type=AgentType.OPENAI_FUNCTIONS
)

In [ ]:
langchain.debug = False
agent_executor.run("What is my data about?")

In [ ]:
langchain.debug = True
agent_executor.run("What is my data about?")

## First call to LLM

### 1. Call to OpenAi along with available functions
```
{
  "messages": [
    {
      "role": "system",
      "content": "You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct postgresql query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer."},
    {
      "role": "user",
      "content": "What is my data about?"
    },
    {
      "role": "assistant",
      "content": "I should look at the tables in the database to see what I can query. Then I should query the schema of the most relevant tables."
    }
  ],
  "model": "gpt-3.5-turbo-0613",
  "max_tokens": null",
  "stream": false,
  "n": 1,
  "temperature": 0,
  "functions": [
    {
      "name": "sql_db_query",
      "description": "Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_schema",
      "description": "Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_list_tables",
      "description": "Input is an empty string, output is a comma separated list of tables in the database.",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_query_checker",
      "description": "Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    }
  ]
}
```
### 2. Langchain gets table names
```
[1:chain:AgentExecutor > 3:tool:sql_db_list_tables] [0ms] Exiting Tool run with output:
"album, artist, customer, employee, genre, invoice, invoiceline, mediatype, playlist, playlisttrack, track"
```


### 3 Second call with table names
```
{
  "messages": [
    {
      "role": "system",
      "content": "You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct postgresql query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer."},
    {
      "role": "user",
      "content": "What is my data about?"
    },
    {
      "role": "assistant",
      "content": "I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables."
    },
    {
      "role": "assistant",
      "content": null,
      "function_call": {
        "name": "sql_db_list_tables",
        "arguments": {}
      }
    },
    {
      "role": "function",
      "content": "album, artist, customer, employee, genre, invoice, invoiceline, mediatype, playlist, playlisttrack, track",
      "name": "sql_db_list_tables"
    }
  ],
  "model": "gpt-3.5-turbo-0613",
  "max_tokens": null,
  "stream": false,
  "n": 1,
  "temperature": 0,
  "functions": [
    {
      "name": "sql_db_query",
      "description": "Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_schema",
      "description": "Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_list_tables",
      "description": "Input is an empty string, output is a comma separated list of tables in the database.",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_query_checker",
      "description": "Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    }
  ]
}

Click to add a cell.
```
### 4 Langchain now gets table DDLs
```
[tool/start] [1:chain:AgentExecutor > 5:tool:sql_db_schema] Entering Tool run with input:
"album, artist, customer, employee, genre, invoice, invoiceline, mediatype, playlist, playlisttrack, track"
```

### 5 Input to LLM with table DDLs

```
{
  "messages": [
    {
      "role": "system",
      "content": "You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct postgresql query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n"
    },
    {
      "role": "user",
      "content": "What is my data about?"
    },
    {
      "role": "assistant",
      "content": "I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables."
    },
    {
      "role": "assistant",
      "content": null,
      "function_call": {
        "name": "sql_db_list_tables",
        "arguments": {}
      }
    },
    {
      "role": "function",
      "content": "album, artist, customer, employee, genre, invoice, invoiceline, mediatype, playlist, playlisttrack, track",
      "name": "sql_db_list_tables"
    },
    {
      "role": "assistant",
      "content": null,
      "function_call": {
        "name": "sql_db_schema",
        "arguments": {
          "__arg1": "album, artist, customer, employee, genre, invoice, invoiceline, mediatype, playlist, playlisttrack, track"
        }
      }
    },
    {
      "role": "function",
      "content": "CREATE TABLE album (
                	albumid INTEGER NOT NULL, 
                	title VARCHAR(160) NOT NULL, 
                	artistid INTEGER NOT NULL, 
                	CONSTRAINT pk_album PRIMARY KEY (albumid), 
                	CONSTRAINT fk_albumartistid FOREIGN KEY(artistid) REFERENCES artist (artistid)
                )
                
                /*
                3 rows from album table:
                albumid	title	artistid
                1	for those about to rock we salute you	1
                2	balls to the wall	2
                3	restless and wild	2
                */
                
                
                CREATE TABLE artist (
                	artistid INTEGER NOT NULL, 
                	name VARCHAR(120), 
                	CONSTRAINT pk_artist PRIMARY KEY (artistid)
                )
                
                /*
                3 rows from artist table:
                artistid	name
                1	ac/dc
                2	accept
                3	aerosmith
                */
                ... ",
      "name": "sql_db_schema"
    }
  ],
  "model": "gpt-3.5-turbo-0613",
  "max_tokens": null,
  "stream": false,
  "n": 1,
  "temperature": 0,
  "functions": [
    {
      "name": "sql_db_query",
      "description": "Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_schema",
      "description": "Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_list_tables",
      "description": "Input is an empty string, output is a comma separated list of tables in the database.",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    },
    {
      "name": "sql_db_query_checker",
      "description": "Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!",
      "parameters": {
        "properties": {
          "__arg1": {
            "title": "__arg1",
            "type": "string"
          }
        },
        "required": [
          "__arg1"
        ],
        "type": "object"
      }
    }
  ]
}

```

#### 6 Final output from LLM
```
Based on the tables in the database, it appears that the data is about a music store. The tables include information about albums, artists, customers, employees, genres, invoices, media types, playlists, tracks, and playlist tracks.
```

In [65]:
langchain.debug = False
print(agent_executor.run("What artists have the highest and the lowest numbers of purchases?"))

The artist with the highest number of purchases is Iron Maiden with 140 purchases. The artist with the lowest number of purchases is Adrian Leaper & Doreen de Feis with only 1 purchase.

In [ ]:
langchain.debug = False
print(agent_executor.run("What artists have the highest and the lowest numbers of purchases? Also show me the query you used to generate the answer"))